.header {
  display: flex;
  align-items: center;
  height: 130px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo {
    max-height: 122px;
    align-items: center;
  }

  .title-group {
    padding-left: 25px;
  }
}