<mat-sidenav-container class="container mt-5">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="134">
        <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="/">
            <i class="material-icons">
              home
            </i> Inicio
          </a>
          <a mat-list-item routerLink="/crud">
            <i class="material-icons">
              storefront
            </i> Produtos
          </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="page-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>